<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="TestDatabase" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Storage\Content.sdf" />
    <add name="EmptyDatabase" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Storage\EmptyDb.sdf" />

    <add name="MongoDbTest" connectionString="mongodb://localhost/MeekTesting"/>
  </connectionStrings>
  
</configuration>